STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
S3_ACCESS_KEY_ID=AKIAUWCNHNZY64ZR5YO2
S3_SECRET_ACCESS_KEY=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
S3_REGION=ap-south-1
S3_BUCKET=oweg-product-images
